[Desktop Entry]
Version=1.0
Name=Mausepad
Name[C]=Mousepad
Exec=mousepad --preferences
Icon=org.xfce.mousepad
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
NotShowIn=GNOME;
